<!DOCTYPE html>

{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Website Title -->
    <title>REVIEW</title>

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700&display=swap&subset=latin-ext" rel="stylesheet">
    <link href="/static/blog/css/bootstrap.css" rel="stylesheet">
    <link href="/static/blog/css/fontawesome-all.css" rel="stylesheet">
    <link href="/static/blog/css/swiper.css" rel="stylesheet">
	<link href="/static/blog/css/magnific-popup.css" rel="stylesheet">
	<link href="/static/blog/css/styles.css" rel="stylesheet">
    <!-- bootstrap4-->
    <link href="{% static 'blog/bootstrap/bootstrap.min.css' %}" rel="stylesheet" type="text/css">

	<!-- Favicon  -->
    <link rel="icon" href="/static/blog/images/k_icon64.png">
</head>
<body data-spy="scroll" data-target=".fixed-top">

    <!-- Preloader -->
	<div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>

    <!-- end of preloader -->

            <!-- end of mobile menu toggle button -->

    <!-- Navigation -->
    {% include 'blog/navbar.html' %}

        <!-- Header-->
        <header class="bg-secondary py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">REVIEW</h1>
                    <p class="lead fw-normal text-white-50 mb-0">리뷰를 작성할 수 있는 공간입니다.</p>
                </div>
            </div>
        </header>

                                    <!-- Single Blog Post -->
                                         {% for p in post_list %}
                                    <div class="container bg-">
                                        <div class="py-5">
                                        <div class="card">
                                    <div class="single-blog-post post-style-4 d-flex align-items-center">
                                        <!-- Post Thumbnail -->
                                        <div class="col-6">
                                         {% if p.head_image %}
                                        <div class="post-thumbnail">
                                        <img class="card-img-top" src="{{ p.head_image.url }}" alt="{{ p }} head image">
                                            {% else %}
                                        <img class="card-img-top" src="https://picsum.photos/seed/{{ p.id }}/300/300" alt="random image">
                                            {% endif %}
                                        </div>
                                        <!-- Post Content -->
                                        <div class="post-content">
                                        <h2><a href="{{ p.get_absolute_url }}" class="headline">{{ p.title }}</a></h2>
                                                <p class="card-text">{{ p.content | truncatewords:20 }}</p>
                                            <!-- Post Meta -->
                                            <div class="post-meta">
                                                <p>Posted on {{ p.created }} by
                                                 <a href="#">{{ p.author | upper }}</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                        </div>
                                            </div>

                                        <div class="col-6">
                                        </div>
                                    </div>
                                    {% endfor %}


{% if is_paginated %}
    <!-- Pagination -->
    <ul class="pagination justify-content-center mb-4">
        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">&larr; Older</a>
        </li>
{% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#">&larr; Older</a>
        </li>
{% endif %}

{% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Newer &rarr;</a>
        </li>
{% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#">Newer &rarr;</a>
        </li>
{% endif %}
    </ul>
    {% endif %}



    <!-- Footer -->
    {% include 'blog/footer.html' %}

    <!-- Scripts -->
    <script src="/static/blog/js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="/static/blog/js/popper.min.js"></script> <!-- Popper tooltip library for Bootstrap -->
    <script src="/static/blog/js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
    <script src="/static/blog/js/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
    <script src="/static/blog/js/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
    <script src="/static/blog/js/jquery.magnific-popup.js"></script> <!-- Magnific Popup for lightboxes -->
    <script src="/static/blog/js/validator.min.js"></script> <!-- Validator.js - Bootstrap plugin that validates forms -->
    <script src="/static/blog/js/scripts.js"></script> <!-- Custom scripts -->
    <!-- jsDeliver-->

</body>
</html>