<!DOCTYPE html>

{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Website Title -->
    <title>MYPAGE</title>

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700&display=swap&subset=latin-ext" rel="stylesheet">
    <link href="/static/blog/css/bootstrap.css" rel="stylesheet">
    <link href="/static/blog/css/fontawesome-all.css" rel="stylesheet">
    <link href="/static/blog/css/swiper.css" rel="stylesheet">
	<link href="/static/blog/css/magnific-popup.css" rel="stylesheet">
	<link href="/static/blog/css/styles.css" rel="stylesheet">
    <!-- bootstrap4-->
    <link href="/static/blog/bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css">

	<!-- Favicon  -->
    <link rel="icon" href="/static/blog/images/k_icon64.png">
</head>
<body data-spy="scroll" data-target=".fixed-top">

    <!-- Preloader -->
	<div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>

    <!-- end of preloader -->

            <!-- end of mobile menu toggle button -->

    <!-- Navigation -->
    {% include 'blog/navbar.html' %}

    <!-- Header-->
        <header class="bg-secondary py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">MYPAGE</h1>
                </div>
            </div>
        </header>

     <ul class="card ml-auto">
                    {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                           role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                            {% if user is not None %}
                               {% if user.socialaccount_set.all.0.get_avatar_url %}
                                   <img class="rounded-circle" width="25px" src="{{ user.socialaccount_set.all.0.get_avatar_url }}">
                               {% else %}
                                  <img class="rounded-circle" width="25px" src="https://avatars.dicebear.com/api/human/{user.email}.svg">
                               {% endif %}
                            {% else %}
                                <img class="rounded-circle" width="25px" src="http://placehold.it/50X50">
                            {% endif %}
                            &nbsp;
                            {{ user.username | upper }}
                            {% endif %}
                        </a>
                    </li>
     </ul>

    {% if user.is_authenticated %}
    <a class="btn btn-info btn-sm float-right" href="/accounts/logout/" role="button">&nbsp;&nbsp; Log out</a>
    {% else %}
    <a class="btn btn-info btn-sm float-right" href="/sign_up" role="button">
        <i class="fas fa-pen"></i>&nbsp;&nbsp Log in</a>
                                         {% endif %}

    <div class="container py-6">
       <div class="text-center">
       <h2 class="text-dark">가입 정보</h2>
           </div>
    </div>

    <div class="card py-5">
       <div class="col-12">
 {% if user.is_authenticated %}
    <a class="text" href="#" role="text">&nbsp;&nbsp; <h1>basic 요금제</h1></a>
    {% else %}
    <a class="text" href="/sign_up" role="button">
        <i class="fas fa-pen"></i>&nbsp;&nbsp <h1>로그인을 하세요</h1></a>
                                         {% endif %}
        </div>
    </div>

     <div class="container py-6">
       <div class="text-center">
       <h2 class="text-dark">MY REVIEW</h2>
           </div>
    </div>

    <div class="card py-5">
       <div class="col-12">
 {% if user.is_authenticated %}
    <a class="text" href="/review/10" role="button">&nbsp;&nbsp; <h1>완전 편리해요</h1></a>
    {% else %}
    <a class="text" href="/sign_up" role="button">
        <i class="fas fa-pen"></i>&nbsp;&nbsp <h1>로그인을 하세요</h1></a>
                                         {% endif %}
       </div>
    </div>

    <div class="container py-6">
       <div class="text-center">
       <h2 class="text-dark">MY HOMEPAGE</h2>
    </div>
    </div>

     <div class="card py-5">
       <div class="col-12">
 {% if user.is_authenticated %}
    <a class="text" href="#" role="button">&nbsp;&nbsp; <h1>홈페이지 보기</h1></a>
    {% else %}
    <a class="text" href="/sign_up" role="button">
        <i class="fas fa-pen"></i>&nbsp;&nbsp <h1>로그인을 하세요</h1></a>
                                         {% endif %}
       </div>
    </div>

        <div class="card py-6"></div>


  <!-- Footer -->
   {% include 'blog/footer.html' %}

    <!-- Scripts -->
    <script src="/static/blog/js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="/static/blog/js/popper.min.js"></script> <!-- Popper tooltip library for Bootstrap -->
    <script src="/static/blog/js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
    <script src="/static/blog/js/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
    <script src="/static/blog/js/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
    <script src="/static/blog/js/jquery.magnific-popup.js"></script> <!-- Magnific Popup for lightboxes -->
    <script src="/static/blog/js/validator.min.js"></script> <!-- Validator.js - Bootstrap plugin that validates forms -->
    <script src="/static/blog/js/scripts.js"></script> <!-- Custom scripts -->
    <!-- jsDeliver-->

</body>
</html>