
<!DOCTYPE html>

{% load static %}
<html lang="kr" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Website Title -->
    <title>로그인</title>

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700&display=swap&subset=latin-ext" rel="stylesheet">
    <link href="/static/blog/css/bootstrap.css" rel="stylesheet">
    <link href="/static/blog/css/fontawesome-all.css" rel="stylesheet">
    <link href="/static/blog/css/swiper.css" rel="stylesheet">
	<link href="/static/blog/css/magnific-popup.css" rel="stylesheet">
	<link href="/static/blog/css/styles.css" rel="stylesheet">
    <!-- bootstrap4-->
    <link href="/static/blog/bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css">

    <script src="https://kit.fontawesome.com/fe6a854055.js" crossorigin="anonymous"></script>

	<!-- Favicon  -->
    <link rel="icon" href="/static/blog/images/k_icon64.png">
</head>
<body data-spy="scroll" data-target=".fixed-top">

    <!-- Preloader -->
	<div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>

    <!-- end of preloader -->

            <!-- end of mobile menu toggle button -->

    <!-- Navigation -->
    {% include 'blog/navbar.html' %}

    <!-- Header-->
        <header class="bg-secondary py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">SIGN IN</h1>
                </div>
            </div>
        </header>

{% load socialaccount %}
                <div id="title_sm"></div>
	            <section class="container bg-">
                <div class="text-center my-5" style="display: ;">
                    <div class="mb-3"><a role="button" class="btn btn-outline-dark btn-block btn-lg"
                                         href="{% provider_login_url 'google' %}">
                        <i class="fa-brands fa-google"></i>&nbsp&nbsp Log in with Google</button></a></div>
                    <div class="mb-3"><a role="button" class="btn btn-outline-dark btn-block btn-lg" href="/accounts/login/">
                        <i class="fa-solid fa-user"></i>&nbsp&nbsp Log in with Username</button></a></div>
                    <div class="mb-3"><a role="button" class="btn btn-outline-dark btn-block btn-lg" href="/accounts/signup/">
                        <i class="fa-solid fa-envelope"></i>&nbsp&nbsp Sign Up with E-mail</button></a></div>
                </div>
            </div>
        </div>
                </section>


    <!-- Footer -->
    {% include 'blog/footer.html' %}

    <!-- Scripts -->
    <script src="/static/blog/js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="/static/blog/js/popper.min.js"></script> <!-- Popper tooltip library for Bootstrap -->
    <script src="/static/blog/js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
    <script src="/static/blog/js/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
    <script src="/static/blog/js/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
    <script src="/static/blog/js/jquery.magnific-popup.js"></script> <!-- Magnific Popup for lightboxes -->
    <script src="/static/blog/js/validator.min.js"></script> <!-- Validator.js - Bootstrap plugin that validates forms -->
    <script src="/static/blog/js/scripts.js"></script> <!-- Custom scripts -->
    <!-- jsDeliver-->

</body>
</html>